
<% if user_signed_in? %>
<div>
<h2 class = "bookheader"><strong><%= @addbook.title%> </strong> </h2>
<h3 class = "bookDescription"> <%= @addbook.description %></h3>
</div>

<h3><small> <strong>Contacts: </small> </strong></h3>

<div class = "contacts">
<% @contacts.each do |f| %>
	<% if user_signed_in? %>
		<% if f.user_id == current_user.id %>	
			<div class = "seperatecontacts">	
			<h2 class = "name"> <%= f.name %></h2>
			<h2 class = "address"> <%= f.address %></h2>
			<h2 class = "aemail"> <%= f.email %></h2>
			<h2 class = "phonenumber"> <%= f.phonenumber %></h2>
			<div class = "editText">
		<%= link_to "Edit", edit_addbook_contact_path(f.addbook,f) %>
		<%= link_to "Delete", addbook_contact_path(f.addbook, f), method: :delete, data: {confirm: "Are you sure you want to delte this Contact!?"} %>
		</div>
		</div>
		<% end %>
	<% end %>
<% end %>
</div>


<h3>Add Contacts:</h3>
<%= render 'contacts/form' %>
<%= link_to "Back", root_path %>

<% if user_signed_in? %>
	<% if @addbook.user_id == current_user.id %>	
		<%= link_to "Edit", edit_addbook_path(@addbook) %>
		<%= link_to "Delete", addbook_path(@addbook), method: :delete, data: {confirm: "Are you sure you want to delte this addressbook!?"} %>
	<% end %>
<% end %>
<% end %>

<% if user_signed_in? == false %>
<h1> Please Sign In </h1>
<% end %>
