<% if user_signed_in? %>
<h1> Edit Comment </h1>


<%= simple_form_for([@addbook, @contact]) do |f| %>
	
	<%= f.input :name, label: "Name" %>
	<%= f.input :address, label: "Address" %>
	<%= f.input :email, label: "Email" %>
	<%= f.input :phonenumber, label: "Phone Number" %>
	<%= f.button :submit %>
<% end %>

<%= link_to "Back", addbook_path(@addbook) %>
<% end %>